# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Poetry
poetry.lock
.venv/
venv/

# PyCharm
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# VS Code (если вдруг понадобится)
.vscode/
*.code-workspace

# Environments
.env
.env.local
.env.*.local
env/
ENV/

# Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# Translations
*.mo
*.pot

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Локальные файлы
.DS_Store
Thumbs.db
